<html class="gr__amp_pharm_mssm_edu">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
    <style type="text/css" abt="234"></style>
  </head>

  <body data-gr-c-s-loaded="true">
    <ul>
      <li>Pipeline Overview</li>
      <li>Step I: Pre-processing</li>
      <li>Step II: Cell type prediction</li>
      <li>Step III: Gene module detection</li>
      <li>Step IV: Gene module assignment</li>
      <li>Step V: Motif finding and comparison</li>
      <li>Step VI: Active regulon determination</li>
      <li>Step VII: Regulon inference</li>
      <li class="last">Analysis and visualization</li>
    </ul>
  </body>
</html>
