<html class="gr__amp_pharm_mssm_edu">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <style type="text/css" abt="234"></style>
</head>

<body data-gr-c-s-loaded="true">
    <ul>
        <li>What are regulons and cell-type-specific regulons(CTSRs) and why are they important?</li>
        <li>What is the hypergeometric test?</li>
        <li>What are the evaluation indexes for predicted cell types?</li>
        <li>How do DMINDA and MEME predict regulons?</li>
        <li>How does IRIS3 using the TF name to represent the regulon name?</li>
        <li>How does IRIS3 rank regulons?</li>
        <li>How does IRIS3 select cell-type-specific regulons from active regulons?</li>
        <li>How does IRIS3 perform comparison of cell-type-specific regulons to ATAC-Seq peaks?</li>
        <li>How does IRIS3 use TAD to retrive additional genes?</li>
        <li>How does IRIS3 perform normalization for Cell-gene-regulon heatmaps?</li>
        <li>Why is my heatmap not showing up?</li>
        <li>Why am I getting 404 error or server expired when open the Enrichr, JASPAR and HOCOMOCO links?</li>
        <li>How is the performance of IRIS3?</li>
        <li>What are included in the Download zip file?</li>
        <li>Why I'm staying in the confirmation page when the job has been done?</li>
        <li>How do I report errors?</li>
        <li>Where can I find the source code?</li>
        <li>What are the future plans of IRIS3?</li>
        <li class="last">Brower compatibility of IRIS3.</li>
    </ul>
</body>

</html>