<html class="gr__amp_pharm_mssm_edu">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <style type="text/css" abt="234"></style>
</head>

<body data-gr-c-s-loaded="true">
    <div id="the-basics-content">
        <h1>Citation</h1>

        <div class="qa">
            <h3 class="question">Cite us:</h3>
            <div class="answer">
                <p></p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="qa">
            <h3 class="question">Please also cite the tools you used in IRIS3:</h3>
            <div class="answer">
                <p><b><i>QUBIC:</b></i>
                </p>
                <p>Li, G., et al. (2009). QUBIC: a qualitative biclustering algorithm for analyses of gene expression data. Nucleic acids research, 37(15), e101-e101.</p>
                <p>Zhang, Y., et al. (2016). QUBIC: a Bioconductor package for qualitative biclustering analysis of gene co-expression data. Bioinformatics, 33(3), 450-452.</p>
                <br>
                <p><b><i>DMINDA:</b></i>
                </p>
                <p>Yang, J., et al. (2017). DMINDA 2.0: integrated and systematic views of regulatory DNA motif identification and analyses. Bioinformatics, 33(16), 2586-2588.</p>
                <p>Ma, Q., et al. (2014). DMINDA: an integrated web server for DNA motif identification and analyses. Nucleic acids research, 42(W1), W12-W19.</p>
                <br>
                <p><b><i>MEME:</b></i>
                </p>
                <p>Bailey, T. L., et al.(2009). MEME SUITE: tools for motif discovery and searching. Nucleic acids research, 37(suppl_2), W202-W208.</p>
                <br>
                <p><b><i>Clustergrammer:</b></i>
                </p>
                <p>Fernandez, N. F., et al. (2017). Clustergrammer, a web-based heatmap visualization and analysis tool for high-dimensional biological data. Scientific data, 4, 170151.</p>
                <br>
                <p><b><i>Enrichr:</b></i>
                </p>
                <p>Kuleshov MV, et al. (2016) Enrichr: a comprehensive gene set enrichment analysis web server 2016 update. Nucleic Acids Research. gkw377</p>
                <br>
                <br>
            </div>
            <div class="clear"></div>
        </div>

    </div>
</body>

</html>